<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<center>
    <h1 style="background-color: aqua;align-items: center;">
        Result Mangement System
    </h1>
</center>
   
   
</head>

<body>

<center>Login As </center>

    
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
<span >
    <button type="button" class="btn" style="background-color: greenyellow;" >
        <a href="/student/login"> Student Login</a>
    </button>
</span>
<span >
    <button type="button" class="btn"  style="background-color: greenyellow;">
        <a href="/teacher/option"> Teacher Login</a>
    </button>
</span
</center>
</html>