<a href="/" class="btn btn-info" style="margin-top:5px;">Back</a>
<center>
    <h1 style="background-color: aqua;">Student Login</h1>
</center>
<br>
<br>

<div class="teachLog">
  <form method="POST" class="teachForm">
      <div >
        <label for="roll" class="form-label">Roll no : </label>
        <input type="number" name="roll" class="form-control" id="roll" placeholder="Enter roll Number">
      </div>
      <br>
      <div >
        <label for="dob" class="form-label">Date of Birth : </label>
        <input type="date" name="dob" class="form-control" id="dob" placholder="enter Date-of-birth">
      </div>
      <a><button style="color: blue;" type="submit" class="btn btn-primary">Submit</button></a>
  </form>
</div>