
<form method="POST">
    <h1 style="background-color: aqua;">
        <center>
            
                Result Management System     
            
        </center>
    </h1>
    <button  type="submit" class="btn btn primary">
        <a href="/teacher">back</a>
    </button>
    <br>

    <h3>Add new Student</h3>
    <div class="form-group">
        <label for="RollNumber">RollNumber</label>
        <input type="number"  name="roll" class="form-control" id="number" name="" placeholder="Enter RollNumber" >    
    </div>
    <br>

    <div class="form-group">
        <label for="Name">Name</label>
        <input type="Text" name="name" class="form-control" id="Name"  placeholder="Enter Name" >
        
    </div>
    <br>
    <div class="form-group">
        <label for="Date-of-Birth">Date-of-Birth</label>
        <input type="date" name="dob" class="form-control" id="D.O.B"  placeholder="Enter Date-of-Birth" >
        
      </div>
    <br>
    <div class="form-group">
        <label for="marks">Marks</label>
        <input type="Text" name="score" class="form-control" id="marks"  placeholder="Enter marks" >
        
      </div>
      <br>
      <a href="/teacher/viewall"><button  type="submit" class="btn btn primary">
        Submit
    </button></a>
      
</form>
