<html>
    <center>
        <h1 style="background-color: aqua;">Teacher Login</h1>
    </center>
    
    <br>
    <br>
<center>
    <span >
        <button type="button" class="btn" style="background-color: greenyellow;" >
            <a href="/teacher/add">Add student</a>
        </button>
    </span>
    <span >
        <button type="button" class="btn"  style="background-color: greenyellow;">
            <a href="/teacher/viewall">View student</a>
        </button>
    </span>
</center>



</html>